<h2>Booking Details</h2>

<p><strong>Flight:</strong> <%= @booking.flight.departure_airport.code %> to <%= @booking.flight.arrival_airport.code %></p>
<p><strong>Date:</strong> <%= @booking.flight.start_datetime.strftime("%d %b, %Y") %></p>
<p><strong>Flight ID:</strong> <%= @booking.flight.id %></p>

<h3>Passengers</h3>

<% @booking.passengers.each do |passenger| %>
  <div class="passenger-details">
    <p><strong>Name:</strong> <%= passenger.name %></p>
    <p><strong>Email:</strong> <%= passenger.email %></p>
  </div>
<% end %>

<%= link_to 'Back', root_path %>
